
/**
 * Airspeed indicator consists of static background image and a needle that is
 * rotated around its center point.
 */

.is-air-speed-indicator {
  background-image: url('../../images/gauges/air_speed_indicator.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.is-air-speed-indicator .needle {
  background-image: url('../../images/gauges/needle.png');
  height: 100%;
  position: relative;
  transition: transform .25s ease;
}
