
/**
 * Positions gauges. This has to be calibrated based on the screen frame.
 */

.gauge {
  position: absolute;
  width: 300px;
  height: 300px;
}

.gauge.top {
  top: 40px;
}

.gauge.bottom {
  top: 380px;
}

.gauge.left {
  left: 40px;
}

.gauge.center {
  left: 380px;
}

.gauge.right {
  left: 720px;
}
